package pages 

import "github.com/mcgtrt/go-puerto/templates/layout"

templ HomePage(lang string) {
	@layout.Base("Home Page", lang) {
		<div class="container">
			<p style="padding: 12px 0;">go-puerto - launch new projects quick</p>
		</div>
	}
}
